<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读写权限 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiracleStar"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".SeeMessageActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".MyDataActivity"
            android:exported="false" />
        <activity
            android:name=".WelComeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SoftwareSettingActivity"
            android:exported="false" />
        <activity
            android:name=".ScrollManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ItemShopActivity"
            android:exported="false" />
        <activity
            android:name=".MusicCompositionActivity"
            android:exported="false" />
        <activity
            android:name=".GameShowcaseActivity"
            android:exported="false" />
        <activity
            android:name=".SoftwareStoreActivity"
            android:exported="false" />
        <activity
            android:name=".DataAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".AccountSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".FriendHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".SendMessageActivity"
            android:exported="false" />
        <activity
            android:name=".ListMessageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>